#con{
    margin: 0px;
    padding: 10px;
    background-color: blue;
    color: azure;
}

#myBool{
    background-color: black;
    color: white;
}

#myAdd{
    background-color: blueviolet;
    padding: 20px;
    color: white;
}