<!-- <h1>Hi <%=name%></h1>
<form action = "/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form> -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="CSS/myCSS.css">
    </head>
    <body>
        <h1>Hi <%=name%></h1>
        <button id="btn">Click Here</button>
        <button id="btn1">Add Text</button>
        <div id="div1"><h2>Here is my text</h2></div>
        <div id="div2"></div>
        <div id="div3"></div>

        <table style="width: 100%;">
            <tr>
                <td><button class="tac" id="bt">This Button</button></td>
                <td><button class="tac" id="bt">This Button</button></td>
                <td><button class="tac" id="bt">This Button</button></td>
            </tr>
            <tr>
                <td><button class="tac" id="bt">This Button</button></td>
                <td><button class="tac" id="bt">This Button</button></td>
                <td><button class="tac" id="bt">This Button</button></td>
            </tr>
            <tr>
                <td><button class="tac" id="bt">This Button</button></td>
                <td><button class="tac" id="bt">This Button</button></td>
                <td><button class="tac" id="bt">This Button</button></td>
            </tr>
        </table>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
        <script src="JS/myJavaScript.js" async defer></script>
    </body>
</html>